* {margin: 0px;
    border: border-box;
   padding: 0px;
   font-family: Arial;
}




.navbar {background-color: #424141;
         padding: 20px;
         color: white;
         list-style: none;
         display: flex;
         align-items: center;
         justify-content: space-around;
         
}
.logo-img {width: 120px;}
.menu-list {display: flex;
            margin-left: 70px;
}
.list {margin-right: 30px;
       font-size: 20px;
       cursor: pointer;
    }

.list:hover {color: rgb(23, 155, 212);}

/* baner section  */
.banerimg {width: 300px;}
 .baner-sec {height: 100vh;
           display: flex;
           align-items: center;
           justify-content: space-around;
          background-image: url("background.png"),linear-gradient(45deg,#F6EA41,#F048C6);
           background-position: center;
           background-repeat: no-repeat;
           background-size: cover;
           color: white } 

.baner-heading{font-size: 55px;
               font-weight: bold;}

.baner-paragraph{font-size: 18px;
                 margin-top: 15px;
                 margin-bottom: 15px;
                 

}
.baner-button{padding: 10px 20px;
              color: white;
            background-color: red;
           
        border: none;
        border-radius: 5px;}



/* this is about section  */

#about-us{font-size: 54px;
          font-weight: bold;
          text-align: center;
          margin-top: 20px;}
#sec-img{width: 300px;}   
.about-container{display: flex;
                 align-items: center;
                 justify-content: space-around;
                height: 367px;}   
#hed{margin-bottom: 15px;}     
#para{margin-bottom: 10px;
    font-size: 17px;
      }        
#butt{padding: 10px 20px;
      color: white;
    background-color: red;
border-radius: 5px;
border: none;
margin-top: 9px;}     
/* service container  */
.box{
    width: 200px;
    height: 280px;
    /* border: 1px solid gray; */
    padding: 15px;
    text-align: center;
    box-shadow: 4px  2px 105px gray;
    border-radius: 10px;
}
.box-title{
    padding:10px;
}
.box-btn{
    background-color: #1c1b1b;
}
.icon{
    width:70px;
    color: #2e2e2e;
}
.service-container{
    /* height:50vh; */
    background-image: url('background.png'),linear-gradient(45deg,rgb(5, 5, 5), #2e2e2e);
    color: white;
    padding: 50px;
    flex-wrap: wrap;

}
.box-container{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.kodu{padding: 10px 20px;
    color: white;
  /* background-color: red; */
border-radius: 5px;
border: none;
margin-top: 9px;}
#kola{font-size: 54px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;}
/* footer section  */

footer{
    width: 100%;
    height: 70vh;
    background-image: url("footer-bg.png"),linear-gradient(rgba(0,0,0,1),rgba(0,0,0,0.9));
    background-repeat:no-repeat;
    background-blend-mode: overlay;
    color: white;
    line-height: 1.8em;
   
}
.footer-container{
    display: flex;
    width: 75%;
    height: 60vh;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
    /* padding: 20px; */
    border-bottom: 1px solid gray;
}
.logo-box{
    width: 25%;
}
.logo-box img{
    width:170px;
}

.copy{
    text-align: center;
    padding: 15px;
}
.fa-solid{
    margin-right: 7px;
}
.footer-title{
    margin-bottom: 30px;
}
.icons{
    /* text-align: center; */
    margin-top:20px;
}
.fa-brands{
    margin: 10px;
    font-size:20px;
}
            
           
